@model IEnumerable<PatientInformationSystem.Models.Stage>

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Stages</h2>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                   Stage Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.StageName
                    </td>
                    <td class="text-end">
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                            <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a type="button" class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-6">
        <a class="btn btn-info" asp-action="Add">Add Stage Type</a>
    </div>
</div>